# Python 3.10 recommended
fastapi==0.95.2
uvicorn==0.22.0
transformers==4.54.1
datasets==4.0.0
torch==2.7.0
accelerate==1.8.1
scikit-learn==1.2.2
pandas==2.2.1
protobuf==4.24.0
pytest==8.3.5
requests>=2.32.2
python-multipart==0.0.6
gunicorn==23.0.0
httpx==0.24.1
evaluate==0.4.0
matplotlib==3.7.1
numpy==1.26.4
huggingface-hub>=0.14.0
